/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}



/*
 * Base structure
 */

html,
body {
  height: 100%;
  
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  background-color: #333;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.cover-container {
  max-width: 42em;
}

.banner {
  background-image: url("banner.jpg");
  
}

.banner2 {
  background-image: url("img/Artboard.jpg");
  
}

/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
  
}

.masthead-brand {
  margin-bottom: 0;
  color: #fff;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fd7e14;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}


.cover-heading {
  color: #fd7e14;
  font-family: 'Schoolbell', cursive;
}

.card {
 background-color:#484848 
}

.card-header {
 background-color:rgba(0,0,0,0.16) 
}



.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
  display: inline-block
}
